.vs
OpenGL/OpenGL/x64.vcxproj.user
OpenGL/OpenGL/x64/Release
OpenGL/OpenGL/x64/Debug
OpenGL/OpenGL/OpenGL.vcxproj.user
OpenGL/x64/Debug
OpenGL/Dependencies/GLFW/x64/Debug
OpenGL/Dependencies/Glad/x64/Debug
